:root {
  --background-dark: #1a1a1a;
  --background-light: #f4f4f4;
  --text-dark: #fff;
  --text-light: #333;
  --secondary-text-dark: #bbb;
  --secondary-text-light: #666;
  --button-dark: #28a745;
  --button-light: #218838;
  --margin-dark: #2a2a2a; /* Колір для відступів у темній темі */
  --margin-light: #e0e0e0; /* Колір для відступів у світлій темі */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background-color: var(--margin-dark);
  color: var(--text-dark);
  transition: background-color 0.3s, color 0.3s;
}
body.light {
  background-color: var(--margin-light);
  color: var(--text-light);
}
.app {
  overflow-x: hidden;
  margin: 0 100px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
}
@media (max-width: 1024px) {
  .app {
    margin: 0 50px;
    padding-top: 100px;
  }
}
@media (max-width: 768px) {
  .app {
    margin: 0 20px;
    padding-top: 270px;
  }
}
@media (max-width: 480px) {
  .app {
    padding-top: 280px;
  }
}
